<div class="comments_list" name="comments_list" >
	<% comments.each do |comment| %>
		<% if comment.user.present? %>
			<%= render 'comments/show', :comment => comment  %>
		<% end %>
	<% end %>
	<%= will_paginate @comments %>
</div>